body
    background: $azul-claro;
    font-family: "ProximaNova-Regular"


// HEADER
.header
    &__logo
        width: 130px
        height: 50px
        background: url("../imgs/logo.png") no-repeat center center
        span
            display: none
    .navbar
        background: $azul-escuro


// FOOTER
.footer
    margin: 100px 0 0
    .credits
        color: $cor-padrao-texto
        opacity: .5
        text-align: center

.fake_link
    color: #278FE4
    text-decoration: none
    &:hover
        text-decoration: underline