.btn-base
    padding-left: 30px
    padding-right: 30px
    height: 40px 

.btn-default
    @extend .btn-base
    background: $verde
    color: $branco
    &:hover
        background: darken($verde, 10%)
        color: $branco