//Colors
$first-color: #000
$second-color: #efeded
$third-color: #888

//Background colors
$bg-default: $second-color

//Text colors
$primary-text: $first-color

// Borders
$border-modal: $third-color

// Fonts
$font-light: ''
$font-normal: ''
$font-bold: ''

// MediaQueries
$min-desktop: '769px'
$max-mobile: '768px'
