//Colors
$azul-escuro: #1889E2
$azul-medio: #D7E9F9
$azul-claro: #F1F4F9

//Background colors
$bg-default: $azul-claro

//Text colors
$primary-text: #496B84

// Fonts
$font-light: ''
$font-normal: ''
$font-bold: ''

// MediaQueries
$min-desktop: '769px'
$max-mobile: '768px'
