<section class="vehicles">   

    <div class="input-group vehicles__search">
        <input type="text" class="form-control" placeholder="Pesquisar" ng-model="list.search" />
        <span class="input-group-addon" id="search"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    
    <div class="vehicles__new">
        <button type="button" class="btn btn-default vehicles__new__btn-add" ng-click="listar.addNewVehicle()">Novo Carro</button>
    </div> 
    
    <grid-azul dados="listar.veiculos" colunas="listar.gridColunas" itens-por-pagina="2"></grid-azul>
    
</section>
