<section class="vehicles">
    <form>
        <div class="form-group">
            <label for="placa">Placa</label>
            <input type="text" class="form-control" id="placa" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="text" class="form-control" id="modelo" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="foto">Foto</label>
            <input type="text" class="form-control" id="foto" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="combustivel">Combustível</label>
            <input type="text" class="form-control" id="combustivel" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="text" class="form-control" id="valor" placeholder="Email">
        </div>

        <button type="button" class="btn btn-default" ng-click="adicionar.voltar()">Voltar</button>
        <button type="submit" class="btn btn-default">Adicionar</button>
    </form>
</section>