<div class="grid-azul">    
    <table class="table table-hover vehicles__list">
        <thead class="vehicles__list__heading">
            <tr>
                <th><input type="checkbox" /></th>
                <th ng-repeat="coluna in grid.colunas">{{ coluna.label }}</th>            
            </tr>
        </thead>
        <tbody class="vehicles__list__content">
            <tr ng-repeat="item in listaFiltrada = (grid.dadosPagina | filter: grid.buscar) track by $index">
                <td ng-click="grid.selecionarItem(item)">
                    <input type="checkbox" ng-model="item.selecionado" />
                </td>
                <td ng-click="grid.editarItem(item)" ng-repeat="coluna in grid.colunas">
                    <span ng-bind-html=" (grid.fn[coluna.value]) ? grid.fn[coluna.value]( item[coluna.value] ) : item[coluna.value]"
                          ng-click="(grid.fn[coluna.value]) ? grid.abrirImagem($event, item[coluna.value]) : return"></span>
                </td>
            </tr>
            <tr ng-if="listaFiltrada.length == 0">
                <td colspan="{{grid.colunas.length + 1}}">Nenhum registro encontrado</td>
            </tr>
        </tbody>
    </table>

    <div class="grid-azul__remover">
        <p ng-show="grid.selecionados.length > 0"> <i class="glyphicon glyphicon-trash"></i> <a href="#" ng-click="grid.removerItens()">Excluir os itens selecionados</a></p>
    </div>

    <paginacao itens-por-pagina="grid.itensPorPagina" carregar-pagina="grid.carregarPagina($event)"></paginacao>
</div>

<div class="lightbox" style="position: absolute; cursor: pointer; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.5); z-index: 999;" ng-show="grid.imagem" ng-click="grid.imagem = false">
    <div class="lightbox__imagem" style="width: 100%; height: 100%; text-align: center;">
        <img src="{{ grid.imagem }}" alt="" style="display: inline-block; margin: 150px 0;" />
    </div>
</div>