<table class="table table-hover vehicles__list">
    <thead class="vehicles__list__heading">
        <tr>
            <th><input type="checkbox" /></th>
            <th ng-repeat="coluna in grid.colunas">{{ coluna.label }}</th>            
        </tr>
    </thead>
    <tbody class="vehicles__list__content">
        <tr ng-repeat="item in grid.dadosPagina">
            <td><input type="checkbox" /></td>
            <td ng-repeat="coluna in grid.colunas">{{ item[coluna.value] }}</td>            
        </tr>
    </tbody>
</table>

<paginacao itens-por-pagina="grid.itensPorPagina" carregar-pagina="grid.carregarPagina($event)"></paginacao>